package ${info.packageName}.service.interfaces.web;

import ${info.packageName}.service.domain.service.${info.className}Service;
import lombok.AllArgsConstructor;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestMapping;


/**
* ${info.classComment}
* @Author sjt
* @CreateTime ${info.genTime}
*/
@RestController
@RequestMapping("/${info.basePath}")
@AllArgsConstructor
public class ${info.className}Controller {

    private ${info.className}Service ${info.lowerClassName}Service;
}