package ${info.packageName}.service.controller;

import cn.hywy.framework.common.util.LogUtil;
import ${info.packageName}.service.domain.service.${info.className}Service;
import lombok.AllArgsConstructor;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestMapping;


/**
* @Description ${info.classComment}
* @Author sjt
* @CreateTime ${info.genTime}
*/
@RestController
@RequestMapping("/${info.lowerClassName}")
@AllArgsConstructor
public class ${info.className}Controller {

    private static final LogUtil log = LogUtil.getLogger(${info.className}Controller.class);

    private ${info.className}Service ${info.lowerClassName}Service;
}