package ${info.packageName}.service.domain.entity;

import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.io.Serializable;
import java.util.Date;
import java.math.BigDecimal;


/**
 * ${info.classComment}
 * @Author sjt
 * @CreateTime ${info.genTime}
 */
@Data
@AllArgsConstructor
@NoArgsConstructor
public class ${info.className} implements Serializable{

    private static final long serialVersionUID = 1L;

#foreach($fieldInfo in $info.fieldInfos)
    #if(${fieldInfo.comment} && ${fieldInfo.comment} != "")

    /**
     * ${fieldInfo.comment}
     */
    private ${fieldInfo.javaType} ${fieldInfo.field};
    #end
    #if(!${fieldInfo.comment}  || ${fieldInfo.comment} == "")

    private ${fieldInfo.javaType} ${fieldInfo.field};
    #end
#end

}
