package ${info.packageName}.service.domain.service.impl;

import ${info.packageName}.service.domain.service.${info.className}Service;
import ${info.packageName}.service.domain.repository.${info.className}Repository;
import org.springframework.stereotype.Service;
import lombok.AllArgsConstructor;

/**
* ${info.classComment}
* @Author sjt
* @CreateTime ${info.genTime}
*/
@Service
@AllArgsConstructor
public class ${info.className}ServiceImpl implements ${info.className}Service {

        private ${info.className}Repository ${info.lowerClassName}Repository;

}